In [15]:
import pandas as pd

In [16]:
# Load data 
data1 = pd.read_csv('D:/Week10/data/Copy of BrentOilPrices.csv')
data2 = pd.read_csv('D:/Week10/data/Data_Africa.csv')
data3 = pd.read_csv('D:/Week10/data/population_total_long.csv')

In [17]:
# Displaying the first few rows of all three DataFrames
print("DataFrame 1:")
print(data1.head())
print("\nDataFrame 2:")
print(data2.head())
print("\nDataFrame 3:")
print(data3.head())

DataFrame 1:
        Date  Price
0  20-May-87  18.63
1  21-May-87  18.45
2  22-May-87  18.55
3  25-May-87  18.60
4  26-May-87  18.63

DataFrame 2:
   ID  Year Country    Continent  Population      GDP (USD)
0   1  2000  Uganda  East Africa     23303189  6.193247e+09
1   2  2001  Uganda  East Africa     24022603  5.840504e+09
2   3  2002  Uganda  East Africa     24781316  5.840504e+09
3   4  2003  Uganda  East Africa     25577246  6.606884e+09
4   5  2004  Uganda  East Africa     26403221  7.939488e+09

DataFrame 3:
  Country Name  Year    Count
0        Aruba  1960    54211
1  Afghanistan  1960  8996973
2       Angola  1960  5454933
3      Albania  1960  1608800
4      Andorra  1960    13411

In [18]:
# Check for missing values
print("Missing values in Brent Oil Prices:")
print(data1.isnull().sum(), "\n")

print("Missing values in Africa Data:")
print(data2.isnull().sum(), "\n")

print("Missing values in Population Data:")
print(data3.isnull().sum(), "\n")

# Check data types
print("Data types in Brent Oil Prices:")
print(data1.dtypes, "\n")

print("Data types in Africa Data:")
print(data2.dtypes, "\n")

print("Data types in Population Data:")
print(data3.dtypes, "\n")

# Convert date column in data1 (if applicable)
if 'Date' in data1.columns:
    data1['Date'] = pd.to_datetime(data1['Date'], errors='coerce')

# Review the cleaned data types
print("Updated data types in Brent Oil Prices:")
print(data1.dtypes, "\n")

Missing values in Brent Oil Prices:
Date     0
Price    0
dtype: int64

Missing values in Africa Data:
ID               0
Year             0
Country          0
Continent        0
Population       0
GDP (USD)      155
dtype: int64

Missing values in Population Data:
Country Name    0
Year            0
Count           0
dtype: int64

Data types in Brent Oil Prices:
Date      object
Price    float64
dtype: object

Data types in Africa Data:
ID               int64
Year             int64
Country         object
Continent       object
Population       int64
GDP (USD)      float64
dtype: object

Data types in Population Data:
Country Name    object
Year             int64
Count            int64
dtype: object

C:\Users\medha\AppData\Local\Temp\ipykernel_2540\464919599.py:23: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data1['Date'] = pd.to_datetime(data1['Date'], errors='coerce')

Updated data types in Brent Oil Prices:
Date     datetime64[ns]
Price           float64
dtype: object

In [20]:
# Display rows with missing GDP values
missing_gdp = data2[data2['GDP (USD)'].isnull()]
print("Rows with missing GDP values:")
print(missing_gdp)

Rows with missing GDP values:
        ID  Year                                       Country    Continent  \
207    208  2000                                       Mayotte  East Africa
208    209  2001                                       Mayotte  East Africa
209    210  2002                                       Mayotte  East Africa
210    211  2003                                       Mayotte  East Africa
211    212  2004                                       Mayotte  East Africa
...    ...   ...                                           ...          ...
1260  1261  2018  Saint Helena, Ascension and Tristan da Cunha  West Africa
1261  1262  2019  Saint Helena, Ascension and Tristan da Cunha  West Africa
1262  1263  2020  Saint Helena, Ascension and Tristan da Cunha  West Africa
1263  1264  2021  Saint Helena, Ascension and Tristan da Cunha  West Africa
1264  1265  2022  Saint Helena, Ascension and Tristan da Cunha  West Africa

      Population   GDP (USD)
207        147645        NaN
208        153066        NaN
209        158502        NaN
210        163982        NaN
211        169545        NaN
...           ...        ...
1260         6024        NaN
1261         6050        NaN
1262         6066        NaN
1263         6089        NaN
1264         6112        NaN

[155 rows x 6 columns]

In [21]:
# Drop rows with missing GDP values
data2_cleaned = data2.dropna(subset=['GDP (USD)'])

print("Missing values in Africa Data after dropping rows:")
print(data2_cleaned.isnull().sum())

Missing values in Africa Data after dropping rows:
ID             0
Year           0
Country        0
Continent      0
Population     0
GDP (USD)      0
dtype: int64

In [22]:
# Extract the Year from the Date in the Brent Oil Prices DataFrame
data1['Year'] = data1['Date'].dt.year

# Merge DataFrames on Year
merged_df = data1.merge(data2, on='Year', how='left').merge(data3, on='Year', how='left')

print("Merged DataFrame:")
print(merged_df.head(), "\n")

Merged DataFrame:
        Date  Price  Year  ID Country Continent  Population   GDP (USD)  \
0 1987-05-20  18.63  1987 NaN     NaN       NaN          NaN        NaN
1 1987-05-20  18.63  1987 NaN     NaN       NaN          NaN        NaN
2 1987-05-20  18.63  1987 NaN     NaN       NaN          NaN        NaN
3 1987-05-20  18.63  1987 NaN     NaN       NaN          NaN        NaN
4 1987-05-20  18.63  1987 NaN     NaN       NaN          NaN        NaN

  Country Name       Count
0        Aruba     61833.0
1  Afghanistan  11604534.0
2       Angola  10689250.0
3      Albania   3083605.0
4      Andorra     48455.0